#mapaIn{
	 height: auto;
	 background: url(assets/img/mapa.jpg) center;
	 padding: 24px 0 10px;
	 @include flexFlow;
	 @include cover;
     @media (min-width: 768px) {
     	  padding: 80px 0;

     }
	 article{
	 	width: 100%;
	 	color: white;
	 	border-right: 1px solid rgba( 255, 255, 255, .5);
        >h3{
      
        	
        		text-align: left;
        		margin-left: 24px;
        	
        }
	  	>img{	
	 		width: 90%;
	 		margin: 0 auto;
	 		display: block;
	 		@media (min-width: 768px) {
	 			width: 77%;
	 		}
	 	}
        ul.nav-tabs{
        	width: 80%;
        	margin: 24px auto;
        	list-style: none;
        	border: none;
        	 	@media (min-width: 768px) {}
        	li.active a{
        		background: transparent;
        		color: $orange;
        		border: 0;
        	}
           li{
           	width: 50%;
           	padding-left: 1em; 
		    text-indent: -.7em;
		    margin: 4px 0 4px ;
           	a{
           		color: white;
           		font-size: 13px;
           		@media (min-width: 768px) {
                  font-size: 16px;

           		}
           	}
           }
           li:before {
		    content: "• ";
		    color: #00bfd6; /* or whatever color you prefer */
		 }
        }
        hr{
        	width: 100%;
        	margin: 36px 0 0;
        	    border-top: 1px solid black;
        	    display: inline-block;
        	    	@media (min-width: 768px) {
        	    		width: 80%;
        	    			margin: 36px 24px 0;
        	    	}
        }
        .tab-content{
        	width: 80%;
        	display: table;
        	margin: 24px auto;

        	h3{
        		color: $orange;
        		font-size: 18px;
        		
        	}
        	ul{
        		list-style: none;
        		li{
        			margin: 18px 0;
        			 font-family: 'novalight';
        			 font-size: 16px;
        			i{
        				color: #00bfd6;
        				font-size: 24px;
        				margin-right: 4px;

        				a{
        				  color: #00bfd6;
        				  font-family: 'novalight';
        				}
        			}
        		}
        	}
        }
	 }
	  article:nth-child(1){
	  	@media (min-width: 768px) {
	  		width: 65%;

	  	}
	  }
	 article:nth-child(2){
	 	@media (min-width:768px) {
	 		width: 35%;

	 	}
	 }
}

.conte{ 
	margin-top: 24px;
	display: inline-block;
	@media (min-width:768px) {
		margin-top: 36px;
	}
	@media (min-width:992px) {
		margin-top: 24px;
	}
	@media (min-width:1200px) {
		margin-top: 54px;
	}
	.credencial{
		padding: 36px;
      @media (min-width:768px) {
        padding: 36px 9px 69px;
      }

  }
      .credencial:after {
       position: absolute;
       content: "";
       bottom: -45px;
       height: 1px;
       background-color: rgba( 0, 0, 0, .2);
       width: 100%;
       } 
 > div:nth-child(3n+2){
 	border: none;
 	@media (min-width:1200px) {
  		border-right:  1px solid rgba( 0, 0, 0, .2);
  		border-left:  1px solid rgba( 0, 0, 0, .2);
  	}
  	}	
  >div{
  	margin: 36px 0;
  	@include flexFlow;
  	.he-wer{
  		width: 35%;
  		height: 70px;

  	}
  
  	.textOur{
  		width: 65%;
  		padding-left: 18px;
  		text-align: left;
  		h4{ 
  			color: $aqua;
  			@include cero;
        font-size: 22px;
        font-family: 'novasemibold';
  		}
  		span{
  			color: black;
  			font-size: 14px;
        margin-bottom: 9px;
  			font-weight: bold;
        display: inline-block;
  		}
  	}

  }
}
.calltoAction{
	background: $aqua;
		padding: 0 20px ;
		@media (min-width: 993px) {
			padding: 40px  0;
		}
	
		h3{
			font-size: 20px;
			text-align: center;
			font-family: 'novalight';
			padding: 50px 0 20px; 
		@media (min-width: 993px) {
			padding: 70px 0;
			font-size: 29px;
				border-right: 1px solid white;
		}
		@media (min-width: 1200px) {
			
		   }
		}
		.btnContent {
				padding: 10px 0 80px;
				a{
					margin: 0 auto;
						@media (min-width: 993px) {
							margin: 0;
						}
				}
		@media (min-width: 993px) {
			padding: 80px  40px;
		}
		@media (min-width: 1200px) {
			
		   }
		 
		}
}
.modal-md{
  width: 100%;
  max-width: 980px;
}
.bio{
    border-radius: 0;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    .close{
      position: absolute;
      right: 16px;
      opacity: 1;
      top: 5px;
      color: #c8d432;
      text-shadow: none;
      font-weight: lighter; 
      span{
        font-size: 32px;
      }
    }
    .modalHead{
      background: #545454;
      @include flexFlow;
      img{
           width: 132px;
           height: 109px;

             @media (min-width: 768px) {
               width: 165px;
                height: 135px;
                 }
      }
      .textModal{
       padding:  36px 24px;
       
       h2{
        font-size: 20px;
        color: white;
         font-family: 'novasemibold';
         @include cero;
          @media (min-width: 768px) {
            font-size: 40px;
          }
        }
        h3{
          font-size: 14px;
          color: $aqua;
          font-family: 'nova_rgregular';
           @include cero;
           margin-left: 12px;
           @media (min-width: 768px) {
            font-size: 18px;
           }
        }

      }
    }
    .body{
      padding: 40px;
      text-align: left;
      @include flexFlow;
      position: relative;
       @media (min-width: 768px) {
        padding: 60px;
       }
      img{
        position: absolute;
        right: 20%;
        top: 0;
      }
      .article{
        width: 100%;
        @media (min-width: 768px) {
           width: 50%;
        }

        
      }
       .article:nth-child(3){
          padding-left: 0;
            @media (min-width: 768px) {
               padding-left: 36px;
               position: relative;
            }
            .datesBio{
              margin-top: 36px;
              font-size: 12px;
              width: 100%;
              position: inherit;
              right: 0;
              bottom: 0px;
              ul{
                @include cero;
                list-style: none;
                li{
                  h4{
                      color: $aqua;
                     @include cero;
                  }
                }
              }
               @media (min-width: 768px) {
                      width: 70%;
                       position: absolute;
               }
            }
       }
    }
}
