


@font-face {
    font-family: 'novaextrabold';
    src: url('../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novablack';
    src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novaregular_italic';
    src: url('../fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novaregular_italic';
    src: url('../fonts/proximanova-regitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novasemibold_italic';
    src: url('../fonts/proximanova-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nova_rgbold_italic';
    src: url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novalight_italic';
    src: url('../fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'novalight';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-style: normal;
}
.bordericon{
 /* border-radius: 50%;
  border: 1px solid red;
  width: 40px;
  height: 40px;*/
}
.flaticon-auricular-phone-symbol-in-a-circle:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-binoculars:before { content: "\f102"; }
.flaticon-chat-speech-bubbles:before { content: "\f103"; }
.flaticon-circle:before { content: "\f104"; }
.flaticon-close-envelope:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-credit-card-in-a-circle:before { content: "\f107"; }
.flaticon-dollar-symbol:before { content: "\f108"; }
.flaticon-download-arrow:before { content: "\f109"; }
.flaticon-download-file:before { content: "\f10a"; }
.flaticon-envelope:before { content: "\f10b"; }
.flaticon-facebook-letter-logo:before { content: "\f10c"; }
.flaticon-file:before { content: "\f10d"; }
.flaticon-heart-in-a-circle:before { content: "\f10e"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f10f"; }
.flaticon-linkedin-letters:before { content: "\f110"; }
.flaticon-location:before { content: "\f111"; }
.flaticon-new-email-with-circular-button:before { content: "\f112"; }
.flaticon-next:before { content: "\f113"; }
.flaticon-paper-airplane-outline:before { content: "\f114"; }
.flaticon-people:before { content: "\f115"; }
.flaticon-phone-receiver:before { content: "\f116"; }
.flaticon-plus:before { content: "\f117"; }
.flaticon-profile:before { content: "\f118"; }
.flaticon-share:before { content: "\f119"; }
.flaticon-technology:before { content: "\f11a"; }
.flaticon-twitter-logo-silhouette:before { content: "\f11b"; }
.flaticon-youtube-logo:before { content: "\f11c"; }

@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
	* { 
		margin: 0;
		padding: 0px;
	} 

body { 
	background: #ffffff; 
	margin: 0; 
	height: 100%; 
	color: #384452;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'nova_rgregular';

}


img {
	height: auto;
	max-width: 100%;
}

a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center;
}

/* Services Wrap */
#service {
	margin-top: 100px;
	margin-bottom: 80px;
}

#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}

