.textLeft{
	text-align:left;
	@media (max-width:768px){
		padding:0 5%;
	}
}

.row-eq-height{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.vacante-container{
	@include flexFlow;
	@media (max-width:992px){
		margin: 0 10px;
	}
	@media (max-width:768px){
		margin: 0 5%;
	}
}

.btn-absolute{
	left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 170px !important;
    bottom: 0px;
    font-size: 15px !important;
    height: 50px !important;
    text-transform: initial !important;
    letter-spacing: 1px;
    padding-top: 15px !important;
    @media (max-width:768px){
    	margin:0 0;
    }
}

.vacante-col{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom:100px;
	margin-top:50px;
	margin-bottom:30px;
      margin-top:60px;
	@include nopadding;
	@media (max-width:992px){
		border-right:0px solid rgba(0, 0, 0, 0.2);
	}
	@media (min-width:768px){
		margin-bottom:90px;
		margin-top:30px;
	}
}

.vacante-col{
	&:before{
	content: "";
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    margin-top:-71px;
	    @media (max-width:992px){
	    	background: rgba(0, 0, 0, 0);
		}
	}
}

.vacante-col:nth-child(1),.vacante-col:nth-child(2),.vacante-col:nth-child(3) {
	&:before{
	content: "";
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    margin-top:0px;
	}
}


.textVacante{
	text-align:left;
	padding:0px 20px 0 40px;
    margin-bottom:90px;
    @media (max-width:992px){
    	padding:0px 0px;
    }
	h4{
		color: #00bfd6;
	    padding: 0;
	    margin: 0;
	    font-size: 22px;
	    font-family: 'novasemibold';
	}

	ul{
		list-style-type:none;
		li{
			margin-top:20px;
			@include flexFlow;
			i{
				color:$green;
				font-size: 20px !important;
				padding:0 !important;
				width: 33px;
				border: 1px solid $green;
			    height: 100%;
			    text-align: center;
			    padding: 5px 10px !important;
			    margin-right: 10px;
			    border-radius: 50px;
			}
			span{
				width: 80%;
				@media (max-width:768px){
					width: 90%;
				}
				@media (max-width:480px){
					width: 80%;
				}
			}
		}
	}
}

.vacante-col:nth-child(3), .vacante-col:nth-child(6), .vacante-col:nth-child(9) {
		border-right:0px solid rgba(0, 0, 0, 0.2);
}
